---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I had the privilege of gaining early exposure to the world of modern tech
    companies, thanks to a brief internship at Babbel during my eighth grade of
    school. This experience in a dynamic learning environment, surrounded by
    inspiring professionals, solidified my ambition to become a software
    engineer. <br /><br />

    At 17, in my final year of high school, I came in contact with the impact
    startup, mymoria. With a foundational background in programming, I sought to
    apply my skills in a practical setting. Shortly after graduating from high
    school, I started a full-time internship at mymoria. This role enabled me to
    enhance my web development expertise in both front-end and back-end areas.
    Additionally, I gained skills in team collaboration, effective
    communication, version control systems, and learned about Agile Practices. <br
    /><br />

    Upon commencing my Computer Science studies, I transitioned to a part-time
    working student role. However, I found the theoretical focus of the Computer
    Science curriculum at FU Berlin somewhat limiting and lacking in time to
    combine it with personal projects and learning new technologies. This
    prompted my decision to transfer to CODE University of Applied Sciences,
    where I am pursuing a more hands-on degree in Software Engineering. <br
    /><br />

    During a university project, my colleagues and I developed a project for
    NewStore. This collaboration led to an opportunity where I began working as
    a working student.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Software Engineering"
      subtitle="2021 to present at CODE University Of Applied Sciences, Berlin, Germany"
    />
    <TimeLineElement
      title="Computer Science"
      subtitle="2020 to 2021 at Freie Universität, Berlin, Germany"
    />
    <TimeLineElement
      title="Abitur"
      subtitle="2020 at Fichtenberg-Gymnasium, Berlin, Germany"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Engineer (Working Student)"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      At NewStore, I had the opportunity to work in several exciting teams with
      very different tech stacks. At first, I worked on a green-field native iOS
      project connecting to several distributed APIs. Then, I injected some
      features of it into an existing React Native codebase using an Objective-C
      Bridging layer. Later on, I joined the Shopping App team, I worked with a
      very mature codebase for the apps of brands such as G-Star and All-Saints.
      There, I improved the Analytics tracking capabilites as well as fixing
      bugs in the native iOS and Android codebases. In the Clienteling team, I
      created a new frontend aiming to simplify merging two customer profiles.
      Also, I implemented Serverless Functions using Go and worked with
      OpenSearch, API Governance, Test Driven Development as well as
      Documentation using OpenAPI and Docusaurus.
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer (Working Student)"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      When I started studying Computer Science, I transitioned to a part-time
      working student role. I continued working with React/Typescript as well as
      dabbling into legacy JS codebases. I got more in-depth experience with AWS
      S3 service while building complex persisting forms including a file upload
      dialog.
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer (Intern)"
      subtitle="From [Start Date] to [End Date] at mymoria GmbH, Berlin, Germany"
    >
      Shortly after finishing my high school, I started a full-time internship
      as a full stack web developer at mymoria GmbH. There, I developed new
      projects as well as maintaining existing ones using React and TypeScript.
      I also developed AWS Lambda Functions with the Serverless Framework,
      generating PDF documents from user data and sending transactional emails.
    </TimeLineElement>
    <TimeLineElement
      title="App Developer (Intern)"
      subtitle="TODO!! at Babbel, Berlin, Germany"
    >
      In this short internship at Babbel in the office in Berlin-Mitte, I worked
      on my Android Development skills with a small new project, as well as
      assisting an engineer while debugging the existing app. I also gained
      insights about how people work at modern software startups and joined a
      company-wide Town Hall Meeting.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link) TODO</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>TypeScript</li>
    <li>CI/CD</li>
    <li>Swift</li>
    <li>Flutter</li>
    <li>React</li>
    <li>React Native</li>
    <li>Go</li>
    <li>Laravel</li>
    <li>Express</li>
    <li>Next.js</li>
    <li>Technical Writing</li>
    <li>Langchain</li>
    <li>Git VCS</li>
    <li>Cloud Computing</li>
    <li>Jira</li>
    <li>Cyber Security</li>
    <li>OpenAI</li>
    <li>Agile</li>
    <li>CSS</li>
    <li>Bash</li>
    <li>Docker</li>
    <li>Android</li>
    <li>Unity</li>
    <li>Electron</li>
  </ul>
</BaseLayout>
